/*------Reset css------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
ul[class],
ol[class] {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
article > * + * {
  margin-top: 1em;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}




body {
  width: 100%;
  height: 100vh;
  background-color: #202b4e;
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ff6c50;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 800px;
  width: 100%;
  max-height: 550px;
  margin: 1rem auto;
}

.meme__slider__wrapper {
  position: relative;
  background-color: #535a9a;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  border-radius: 1rem;
}

.meme__slider__wrapper > input {
  display: none;
}

.slider {
  max-width: 800px;
  width: 100%;
  max-height: 500px;
 /* border: 5px solid #ff6c50;*/
  border-radius: 1rem;
  transition: transform 0.5s ease-in-out;
  display: flex;
  z-index: 1000;
  position: relative;
}

.meme__item {
  flex: 0 0 100%;
}
.meme__item img{
  max-width: 800px;
  width: 100%;
  max-height: 500px;
  height: 100%;
  object-fit: fill;

}

.meme__item img {
  max-width: 100%;
  height: auto;
}

.text__and__controls {
  display: flex;
  margin-top: 30px;
}

.meme__text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text{

}

.slider__controls {
  display: flex;
  margin-left: auto;
}
.label{

}
.radio {
  height: 20px;
  width: 20px;
  margin: 10px;
  cursor: pointer;
  border: 3px solid #ff6c50;
  border-radius: 50%;
  transition: all ease 1.3s;
}
.radio:hover{
  border: 3px solid #535a9a;
  background-color: #535a9a;
}

#radio1:checked ~ .slider {
  transform: translateX(0%);
}

#radio2:checked ~ .slider {
  transform: translateX(-100%);
}

#radio3:checked ~ .slider {
  transform: translateX(-200%);
}

#radio4:checked ~ .slider {
  transform: translateX(-300%);
}






/*------CSS------*/
/*
body{
  width: 100%;
  height: 100vh;
  background-color: #202b4e;
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ff6c50;
}
.h1 {
  visibility: hidden;
}
.container {
  max-width: 800px;
  width: 100%;
  max-height: 550px;
  margin: 1rem auto;
}
.meme__slider__wrapper {
  position: relative;
  background-color: #535a9a;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  border-radius: 1rem;
}
.meme__slider__wrapper > input{
  display: none;
}
.slider{
  max-width: 800px;
  width: 100%;
  max-height: 500px;
  overflow: hidden;
  border: 5px solid #ff6c50;
  border-radius: 1rem;
}
.text__and__controls{
  display: flex;
  margin-top: 30px;
}
.meme__text{
  max-width: 70%;
  width: 100%;
  overflow: hidden;
  display: flex;
}
.slider__controls{
  display: flex;
  margin-left: auto;
}
.label{
  height: 20px;
  width: 20px;
  margin: 10px;
  cursor: pointer;
  border: 3px solid #ff6c50;
  border-radius: 50%;
}